<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
    <style>



    </style>
</head>
<body>
    <h1 id="header">Algae as our Biofuel</h1>
    

    <nav class="navbar" >
        <ul>
            <li> <a href="home.html">Home</a></li>
            <li> <a href="process.html">Process</a></li>
            <li> <a href="environ.html">Environmental Impact</a></li>
            <li> <a href="rwe.html">Real world examples</a></li>
        </ul>
    </nav>
    <div style="font-size: 35px;">
       <a href="https://en.wikipedia.org/wiki/Algae_fuel">https://en.wikipedia.org/wiki/Algae_fuel</a> 
       <a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC3152439/">https://pmc.ncbi.nlm.nih.gov/articles/PMC3152439/</a>
       <a href="https://energyeducation.ca/encyclopedia/Algae_biofuel">https://energyeducation.ca/encyclopedia/Algae_biofuel</a>
        <a href="https://www.jgc-indonesia.com/en/news/303/algae-biofuels-to-help-realize-net-zero-emission-by-2060"></a>
        <a href="https://www.energy.gov/energysaver/articles/energy-101-video-algae-fuel">https://www.energy.gov/energysaver/articles/energy-101-video-algae-fuel</a>
        <a href="https://www.viridos.com/">https://www.viridos.com/</a>
        
    </div>
    
</body>
</html>

